<!-- <h1>{{ "sellers.Title" | translate}}</h1> -->
<h1 class="title">{{"sellers.Title" | translate}}</h1>

<button class="btn btn-primary" ng-click="onAddSeller()">{{"sellers.NewSeller" | translate}}</button>

<table class="table table-striped table-hover">
    <tr table-sort="name">
    	<th data-columnName="name">
    		{{"sellers.Name" | translate}}
    	</th>
    	<th data-columnName="category">
    		{{"sellers.Category" | translate}}
    	</th>
    </tr>
    <!-- <tr ng-repeat="seller in sellers track by $index"> -->
    <tr ng-repeat="seller in sellers | orderBy:predicate:reverse">
    	<td ng-click="selectSeller(seller)">{{ seller.name }}</td>
    	<td ng-click="selectSeller(seller)">{{ seller.category }}</td>
    </tr>
</table>