
<div class="aboutSeller">
	<img class="profileImage" ng-src="{{ currSeller.imagePath }}" alt="sellerpic">

	{{ currSeller.name }} -
	{{ currSeller.category }}

</div>
<br>

<!--<button class="btn btn-default" ng-click="onAddProduct()">Add Product</button>-->
<button class="btn btn-default" ng-click="onEditSeller()">{{"seller-details.EditSeller" | translate}}</button>
<button class="btn btn-default" ng-click="onAddProduct()">{{"seller-details.NewProduct" | translate}}</button>

<div class="tabs">
	<ul class="tablist" ng-init="tab = 1">
	    <li class="tabitem" ng-class="{active:tab===1}">
	    	<a href ng-click="tab = 1">{{"seller-details.AllProducts" | translate}}</a>
	    </li>
	    <li class="tabitem">
	    	<a href ng-click="tab = 2">{{"seller-details.Top10" | translate}}</a>
	    </li>
	    
	    <br><br>
	   	
	   	<br>

	   	<div class="tab1div">
	   		
		   	<div ng-show="tab === 1" class="img-thumbnails clearfix" ng-repeat="product in allProducts" style="float: left; padding: 1em">

                <img ng-src="{{product.imagePath}}" height="170" width="170" />
                <h4>{{product.name}}</h4> 
                <h4>{{product.price}} ISK</h4>
                <button ng-click="onEditProduct(product)">Edit</button>
            </div>


	   	</div>
	   	
	   	<br>

	   	<div class="tab2div">
		   	<table class="table table-striped table-hover" ng-show="tab === 2">
	    		<tr table-sort="Name">
		    		<th data-columnName="Name">{{"seller-details.Name" | translate}}</th>
		    		<th data-columnName="SalesNumber">{{"seller-details.NumberSales" | translate}}</th>
	    		</tr>
	    		<tr ng-repeat="product in bestProducts | orderBy:predicate:reverse">
	    			<td>{{ product.name }}</td>
	    			<td>{{ product.quantitySold }}</td>
	   			 </tr>
			</table>
		</div>

	</ul>

</div>