<!DOCTYPE html>
<html ng-app="project3App" class="Sellers">
<head>
	<title>WEPO Assignment 3 - Online Web Store</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta charset="utf-8">
	<link rel="stylesheet" href="styles/vendor.css">
	<link rel="stylesheet" href="styles/app.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
</head>

	<main class="container-fluid">
		<div class="langButtons">
			<button class="btn btn-primary" ng-controller="langController" ng-click="switchLanguage('is')">Íslenska</button>
			<button class="btn btn-primary" ng-controller="langController" ng-click="switchLanguage('en')">Enska</button>
		</div>
		<div class="Main clearfix" ng-view id="content"></div>
	</main>

	<toaster-container></toaster-container>

	<!-- inject:vendor:js -->
	<!-- endinject -->

	<!-- inject:app:js -->
	<!-- endinject -->

	<!-- inject:templates:js -->
	<!-- endinject -->
</body>

</html>
